<h1>This is the Dashboard</h1>
<div id="dashboardTab">
  <h2>noOfAllTasks : {{noOfAllTasks}}</h2>
  <h2>noOfAllProjects : {{noOfAllProjects}}</h2>
  <h2>noOfCurrentTasks : {{noOfCurrentTasks}}</h2>
</div>
<h1><a id="tasksButton" href="#tasks">Tasks</a></h1>
<h1><a href="#dashboard" id="dashboardButton">dashboard</a></h1>
<h1><a href="#createProject" id="createProjectButton">Create Project</a></h1>

<div id="dashboardContent">


</div>
