<div class="row">
  <div class="col-xl-4 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="mr-5">{{noOfAllTasks}} overall tasks!</div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="mr-5">{{noOfAllProjects}} overall projects!</div>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="mr-5">{{noOfCurrentTasks}} Current Tasks!</div>
      </div>
    </div>
  </div>
</div>
