<div class="startSprintDiv">
  <h1>There is no Sprints running for now!</h1>
  <h2>Do you want to start new sprint?</h2>
  <button id="startSprintButton" class="btn btn-primary">Start new sprint</button>
</div>
