     <ul class="list-group list-group-lg">
       {{#if isEmpty}}
       <div class="ml-2 my-2">
         <h3>There is no Features for this task!<h3>
       </div>
       {{else}}
       {{#each features}}
   <li id="feature-{{id}}" class="list-group-item ">
       {{title}}
       <div class="material-switch pull-right">
           <input class="featureCheck" id="check-{{id}}"  {{#if finished}}checked {{/if}}  name="someSwitchOption001" type="checkbox" />
       </div>
   </li>
   {{/each}}
   {{/if}}
 </ul>
