{{#if isLogin}}
    <a class="navbar-brand logo" href="/">Wrap</a>
{{else}}
    <a class="navbar-brand logo" href="/">Wrap</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="rightNav">
      <ul>
        <!-- <a href="#"><li data-toggle="modal" data-target="#addProjectsNav" id="addNavProject" data-toggle="tooltip" title="add project"><i class="fa fa-plus" aria-hidden="true"></i></li></a> -->
      </ul>
    </div>
{{/if}}
