<!-- <!DOCTYPE html>
<html lang="en">
{{> head}}
  <body>
    {{>nav}}
    <div class="mainContent container">
      {{{body}}}
    </div>
    <script type="text/javascript" src="js/script.js"></script>
  </body>
</html> -->
