<!DOCTYPE html>
<html lang="en">
{{> head}}
  <body class="fixed-nav sticky-footer " id="page-top">
      {{{body}}}
    {{> footer}}
    {{> mainScripts}}
    {{#if scriptName }}
    <script src="/js/{{scriptName}}.js" ></script>
      {{#if scriptName2 }}
      <script src="/js/{{scriptName2}}.js" ></script>
      {{/if}}
    {{/if}}

  </body>
</html>
