<!DOCTYPE html>
<html lang="en">
{{> head}}
  <body class="fixed-nav sticky-footer " id="page-top">
    <div class="mainContent container">
      {{{body}}}
    </div>
    {{> footer}}
    {{> mainScripts}}
    <script src="js/{{scriptName}}.js" ></script>
  </body>
</html>
